<div class="flex overflow-hidden bg-gray-100 select-none">
    <div class="h-screen lg:w-60 flex flex-col border-r border-black rounded-r-xl shadow-lg shadow-gray-600 items-center bg-gray-300 py-4 md:w-24">
        <div class="flex flex-col items-center justify-center h-full">
          <div class="flex items-center justify-center rounded-2xl bg-white w-36 h-10 border shadow-md shadow-gray-600">
            <p>{{ rol }}</p>
          </div>
          <div class="flex items-center justify-center rounded-2xl bg-white w-36 h-10 border shadow-md shadow-gray-600 mt-10"></div>
          <div class="flex items-center justify-center rounded-2xl bg-white w-36 h-10 border shadow-md shadow-gray-600 mt-10"></div>
          <div class="flex items-center justify-center rounded-2xl bg-white w-36 h-10 border shadow-md shadow-gray-600 mt-10"></div>
        </div>
      </div>      
    <div class="w-full">
        <router-outlet />
    </div>
</div>
