<div class="navbar bg-sky-500 border-b border-gray-600">
    <div class="navbar-start">
        <div class="">
            <a class="btn btn-ghost text-xl">
                <div class="border-1 pl-4" [routerLink]="['/']">
                    <img class="w-46 h-24" src="tecser.png" alt="">
                </div>
            </a>
        </div>
    </div>
    <div class="navbar-end flex align-items-center">
        <div class="dropdown dropdown-end md:pe-4 lg:pe-4">
            <div tabindex="0" role="button" >
                @if (isAuthenticated) {
                    <div class="flex justify-between rounded-3xl bg-cyan-400 w-80 h-14 pl-10 pr-10 border-b-2 border-gray-800 shadow-lg shadow-gray-600 items-center btn hover:bg-cyan-500">
                        <div>
                            <img [src]="img" alt="user" class="rounded-full menu-icon w-8 h-8 lg:w-10 lg:h-10">
                        </div>
                        <div class="flex flex-col gap-y-2">
                            <p>{{ nombre }}</p>
                            <p>{{ rol }}</p>
                        </div> 
                    </div>
                } @else {
                    <div class="flex rounded-3xl bg-cyan-400 w-80 h-12 border-b-2 border-gray-800 shadow-lg shadow-gray-600 items-center justify-center btn hover:bg-cyan-500">
                        <button [routerLink]="['registro']" class="flex item-center text-xl text-bold text-white">
                            Registrarse
                        </button>
                    </div>
                }
            </div>
            <ul class="dropdown-content menu menu-lg bg-base-100 rounded-box z-10 w-52 p-2 shadow"> 
            @if (isAuthenticated) {
                <button (click)="CerrarSesion()"
                class="text-gray-400 text-sm font-semibold border px-4 py-2 rounded-lg hover:text-purple-600 hover:border-purple-600">Cerrar Sesion</button>
            }
            </ul>
        </div>
    </div>
</div>
